{% extends "admin/base.html" %}
{% load static from staticfiles %}
{% block title %}Upload file{% endblock %}
{% block content %}


    <ul>
        {% for d in data %}
            <li>
                <a href="{% url 'preview' file_id=d.file.id %}" >{{ d.name }}</a>
            </li>

        {% endfor %}
    </ul>


{% endblock %}