{% extends "admin/base.html" %}
{% load static from staticfiles %}
{% block title %}Upload file{% endblock %}
{% block content %}

<form method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form.as_p }}
    <label>Upload your file: </label>
    <!-- <br/>
    <br/> -->
    <input type="file" name="pdf_file"/>
    <button type="submit">Upload</button>
</form>

{% endblock %}